@import "../node_modules/normalize.css/normalize.css"
@import "variables.styl"

html
  height 100%

body
  margin 0
  font-family sans-serif
  height 100%

*
  box-sizing border-box

h1, h2, h3, h4, h5, h6
  margin-top 0
  margin-bottom 0

input:focus
  outline none

@import "../blocks/**/xs/*"
@import "../blocks/**/sm/*"
@import "../blocks/**/md/*"
@import "../blocks/**/lg/*"
@import "../blocks/**/xl/*"
